{% load static %}
<!DOCTYPE html>
<html data-wf-page="67228b9e992685152954052c" data-wf-site="67228b9e9926851529540540" data-wf-status="1" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>acceuil</title>
        <meta content="acceuil" property="og:title" />
        <meta content="acceuil" property="twitter:title" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link href="{% static '/css/style.css' %}" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com" rel="preconnect" />
        <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous" />
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
        <script type="text/javascript">
            WebFont.load({
                google: { families: ["Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic", "PT Serif:400,400italic,700,700italic", "Varela:400"] },
            });
        </script>
        <script type="text/javascript">
            !(function (o, c) {
                var n = c.documentElement,
                    t = " w-mod-";
                (n.className += t + "js"), ("ontouchstart" in o || (o.DocumentTouch && c instanceof DocumentTouch)) && (n.className += t + "touch");
            })(window, document);
        </script>
        <link href="{% static 'images/favicon.png' %}" rel="shortcut icon" type="image/x-icon" />
        <link href="{% static 'images/app-icon.png' %}" rel="apple-touch-icon" />
    </head>
    <body>
        <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navigation w-nav">
            <div class="navigation-wrap">
                <a href="/" aria-current="page" class="logo-link w-nav-brand w--current">
                    <img
                        src="{% static '/images/logo-removebg-preview_enhanced.png' %}"
                        width="87"
                        sizes="(max-width: 479px) 34vw, 87px"
                        srcset="{% static 'images/logo-removebg-preview_enhanced-p-500.png' %} 500w, {% static '/images/logo-removebg-preview_enhanced-p-800.png' %} 800w, {% static 'images/logo-removebg-preview_enhanced.png' %} 822w"
                        alt=""
                        class="logo-image"
                    />
                </a>
                <div class="menu">
                    <nav role="navigation" class="navigation-items w-nav-menu">
                        <a href="/articles" class="navigation-item w-nav-link">Articles</a><a href="/services" class="navigation-item w-nav-link">Services</a><a href="/contactez-nous" class="navigation-item w-nav-link">Contactez-nous</a>
                        <a href="/login" class="navigation-item w-nav-link">se connecter</a>
                    </nav>
                    <div class="menu-button w-nav-button"><img src="{% static 'images/menu-icon.png' %}" width="72" alt="" class="menu-icon" /></div>
                </div>
            </div>
            <a href="https://www.supcom.tn/" class="w-inline-block">
                <img
    src="{% static 'images/thumbnail_image001-removebg-preview.png' %}"
    width="126"
    sizes="(max-width: 479px) 53vw, 126px"
    srcset="{% static 'images/thumbnail_image001-removebg-preview-p-500.png' %} 500w, 
            {% static 'images/thumbnail_image001-removebg-preview.png' %} 782w"
    alt=""
    class="logo-image"
/>
            </a>
        </div>
        <div class="uui-page-padding-5">
            <div class="uui-container-large-5">
                <div class="uui-padding-vertical-xhuge-9">
                    <div class="w-layout-grid uui-heroheader01_component">
                        <div class="uui-heroheader01_content">
                            <h1 class="uui-heading-xlarge-3">Révolutionner les Soins Cardiaques avec l&#x27;IA</h1>
                            <div class="uui-space-small-5"></div>
                            <div class="uui-max-width-medium-3"></div>
                        </div>
                        <div class="uui-heroheader01_image-wrapper">
                            <img
                            src="{% static 'images/healthcare-in-canada-scaled.jpg' %}"
                            loading="lazy"
                            sizes="(max-width: 479px) 100vw, 
                                   (max-width: 767px) 96vw, 
                                   (max-width: 991px) 92vw, 
                                   (max-width: 1439px) 44vw, 
                                   608px"
                            srcset="
                                {% static 'images/healthcare-in-canada-scaled-p-500.jpg' %} 500w,
                                {% static 'images/healthcare-in-canada-scaled-p-800.jpg' %} 800w,
                                {% static 'images/healthcare-in-canada-scaled-p-1080.jpg' %} 1080w,
                                {% static 'images/healthcare-in-canada-scaled-p-1600.jpg' %} 1600w,
                                {% static 'images/healthcare-in-canada-scaled.jpg' %} 2060w
                            "
                            alt="Header image"
                            class="uui-heroheader01_image"
                        />
                        
                            <div class="uui-heroheader01_fileupload-image-wrapper hide-mobile-landscape-2"></div>
                            <img src="{% static 'images/line-20pattern-20header-201.1.svg' %}" loading="lazy" alt="" class="uui-heroheader01_pattern-image" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="spark-section">
                <div class="spark-container w-container">
                    <div class="spark-900-width">
                        <h2>L&#x27;Utilisation de l&#x27;IA dans le Secteur Médical</h2>
                        <p class="spark-hero-sub-paragraph">
                            Cette section explore les diverses applications de l&#x27;intelligence artificielle dans le domaine médical, mettant en lumière son impact sur l&#x27;amélioration des diagnostics, la personnalisation des
                            traitements et l&#x27;efficacité des soins aux patients. Elle examine également les défis techniques et éthiques liés à l&#x27;adoption de l&#x27;IA, tout en discutant des perspectives futures pour cette
                            technologie dans la médecine, notamment en matière de gestion des données, de sécurité et d&#x27;acceptation par les professionnels de santé.
                        </p>
                    </div>
                    <div class="spark-three-column-grid">
                        <div id="w-node-_97816c56-60a4-88c6-942a-585cf9de7824-2954052f" class="spark-wrapped-card spark-stacked">
                            <a href="https://bmcmededuc.biomedcentral.com/articles/10.1186/s12909-023-04698-z" class="w-inline-block">
                                <img
                                width="80"
                                sizes="(max-width: 479px) 100vw, (max-width: 767px) 64vw, (max-width: 991px) 38vw, (max-width: 1439px) 24vw, 307px"
                                src="{% static 'images/the-importance-and-role-of-artificial-intelligence-in-healthcare-services-16.png' %}"
                                loading="eager"
                                alt="The importance and role of artificial intelligence in healthcare services"
                                srcset="
                                    {% static 'images/the-importance-and-role-of-artificial-intelligence-in-healthcare-services-16-p-500.png' %} 500w,
                                    {% static 'images/the-importance-and-role-of-artificial-intelligence-in-healthcare-services-16-p-800.png' %} 800w,
                                    {% static 'images/the-importance-and-role-of-artificial-intelligence-in-healthcare-services-16.png' %} 833w
                                "
                                class="spark-square-image-card"
                            />
                            
                            </a>
                            <div class="spark-card-details">
                                <p class="spark-bold-heading">Revolutionizing healthcare: the role of artificial intelligence in clinical practice</p>
                                <p class="spark-small-sub-paragraph spark-margin-bottom-16px">
                                    Cet article examine l&#x27;intégration de l&#x27;IA dans les soins de santé, en mettant l&#x27;accent sur son rôle dans le diagnostic, le traitement, la gestion de la santé publique et les soins aux
                                    patients, tout en abordant les perspectives et les considérations éthiques pour l&#x27;avenir. Il explore également les défis technologiques et les implications de l&#x27;IA.
                                </p>
                                <a href="https://bmcmededuc.biomedcentral.com/articles/10.1186/s12909-023-04698-z" class="spark-button w-button">Voir Article</a>
                            </div>
                        </div>
                        <div id="w-node-_97816c56-60a4-88c6-942a-585cf9de782e-2954052f" class="spark-wrapped-card spark-stacked">
                            <a href="https://www.nature.com/articles/s41598-024-75896-y" class="w-inline-block">
                                <img
                                width="80"
                                sizes="(max-width: 479px) 100vw, (max-width: 767px) 64vw, (max-width: 991px) 38vw, (max-width: 1439px) 24vw, 307px"
                                src="{% static 'images/41598_2024_75896_fig4_html.png' %}"
                                loading="eager"
                                alt="Description of the image"
                                srcset="
                                    {% static 'images/41598_2024_75896_fig4_html-p-500.png' %} 500w,
                                    {% static 'images/41598_2024_75896_fig4_html.png' %} 685w
                                "
                                class="spark-square-image-card"
                            />                            
                            </a>
                            <div class="spark-card-details">
                                <p class="spark-bold-heading">An interpretable and transparent machine learning framework for appendicitis detection in pediatric patients</p>
                                <p class="spark-small-sub-paragraph spark-margin-bottom-16px">
                                    Cet article examine le processus de recherche, en détaillant les méthodes et les résultats scientifiques de l’étude. Il met également en lumière les défis rencontrés lors de la collecte des données et
                                    l&#x27;analyse des résultats.
                                </p>
                                <a href="https://www.nature.com/articles/s41598-024-75896-y" class="spark-button w-button">Voir Article</a>
                            </div>
                        </div>
                        <div id="w-node-_97816c56-60a4-88c6-942a-585cf9de7838-2954052f" class="spark-wrapped-card spark-stacked">
                            <a href="https://journals.asm.org/doi/10.1128/jcm.01521-17" class="w-inline-block">
                                <img
                                width="80"
                                sizes="(max-width: 479px) 100vw, (max-width: 767px) 64vw, (max-width: 991px) 38vw, (max-width: 1439px) 24vw, 307px"
                                src="{% static 'images/zjm9990958170001.jpeg' %}"
                                loading="eager"
                                alt="Description of the image"
                                srcset="
                                    {% static 'images/zjm9990958170001-p-500.jpeg' %} 500w,
                                    {% static 'images/zjm9990958170001-p-800.jpeg' %} 800w,
                                    {% static 'images/zjm9990958170001-p-1080.jpeg' %} 1080w,
                                    {% static 'images/zjm9990958170001.jpeg' %} 1280w
                                "
                                class="spark-square-image-card"
                            />                            
                            </a>
                            <div class="spark-card-details">
                                <p class="spark-bold-heading">Automated Interpretation of Blood Culture Gram Stains by Use of a Deep Convolutional Neural Network</p>
                                <p class="spark-small-sub-paragraph spark-margin-bottom-16px">
                                    Cet article décrit la collecte et la classification manuelle des diapositives, ainsi que l&#x27;entraînement d&#x27;un réseau de neurones convolutionnel pour le diagnostic assisté par IA. Il présente
                                    ensuite le développement et l&#x27;analyse d&#x27;un algorithme de classification de diapositives entières.
                                </p>
                                <a href="https://journals.asm.org/doi/10.1128/jcm.01521-17" class="spark-button w-button">Voir Article</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spark-section">
                <div class="spark-container w-container">
                    <div class="spark-900-width"></div>
                    <div class="spark-three-column-grid">
                        <div id="w-node-_24889037-6a2b-56d0-fe83-8193981646b8-2954052f" class="spark-wrapped-card spark-stacked">
                            <a href="https://www.nejm.org/doi/full/10.1056/NEJMp2405999" class="w-inline-block">
                                <img
                                width="80"
                                sizes="(max-width: 479px) 100vw, (max-width: 767px) 64vw, (max-width: 991px) 38vw, (max-width: 1439px) 24vw, 307px"
                                src="{% static 'images/710f7sjsxbl._ac_uf1000-2c1000_ql80_.jpg' %}"
                                loading="eager"
                                alt="Description of the image"
                                srcset="
                                    {% static 'images/710f7sjsxbl._ac_uf1000-2c1000_ql80_-p-500.jpg' %} 500w,
                                    {% static 'images/710f7sjsxbl._ac_uf1000-2c1000_ql80_.jpg' %} 666w
                                "
                                class="spark-square-image-card"
                            />                            
                            </a>
                            <div class="spark-card-details">
                                <p class="spark-bold-heading">Large Language Models and the Degradation of the Medical Record</p>
                                <p class="spark-small-sub-paragraph spark-margin-bottom-16px">
                                    L&#x27;article souligne que l&#x27;intégration des modèles de langage (LLM) dans les dossiers de santé électroniques pourrait réduire la qualité des informations et nuire au raisonnement clinique. Les
                                    auteurs appellent à une évaluation prudente pour éviter de répéter les erreurs du passé et préserver l&#x27;efficacité des soins.
                                </p>
                                <a href="https://www.nejm.org/doi/full/10.1056/NEJMp2405999" class="spark-button w-button">Voir Article</a>
                            </div>
                        </div>
                        <div id="w-node-_24889037-6a2b-56d0-fe83-8193981646c2-2954052f" class="spark-wrapped-card spark-stacked">
                            <a href="https://postgraduateeducation.hms.harvard.edu/trends-medicine/how-artificial-intelligence-disrupting-medicine-what-means-physicians" class="w-inline-block">
                                <img
                                width="80"
                                sizes="(max-width: 479px) 100vw, (max-width: 767px) 64vw, (max-width: 991px) 38vw, (max-width: 1439px) 24vw, 307px"
                                src="{% static 'images/4.13.23_ai_in_health.jpg' %}"
                                loading="eager"
                                alt="Description of the image"
                                srcset="
                                    {% static 'images/4.13.23_ai_in_health-p-500.jpg' %} 500w,
                                    {% static 'images/4.13.23_ai_in_health.jpg' %} 752w
                                "
                                class="spark-square-image-card"
                            />                            
                            </a>
                            <div class="spark-card-details">
                                <p class="spark-bold-heading">How Artificial Intelligence is Disrupting Medicine and What it Means for Physicians</p>
                                <p class="spark-small-sub-paragraph spark-margin-bottom-16px">
                                    L&#x27;intelligence artificielle (IA) peut révolutionner les soins de santé en aidant au diagnostic, à l&#x27;automatisation des tâches administratives et à la médecine de précision. Toutefois, elle ne
                                    pourra jamais remplacer l&#x27;empathie et la prise de décision humaine essentielles pour des soins de qualité.
                                </p>
                                <a href="https://postgraduateeducation.hms.harvard.edu/trends-medicine/how-artificial-intelligence-disrupting-medicine-what-means-physicians" class="spark-button w-button">Voir Article</a>
                            </div>
                        </div>
                        <div id="w-node-_24889037-6a2b-56d0-fe83-8193981646cc-2954052f" class="spark-wrapped-card spark-stacked">
                            <a href="https://www.frontiersin.org/journals/medicine/articles/10.3389/fmed.2020.00027/full" class="w-inline-block">
                                <img
                                width="80"
                                sizes="(max-width: 479px) 100vw, (max-width: 767px) 64vw, (max-width: 991px) 38vw, (max-width: 1439px) 24vw, 307px"
                                src="{% static 'images/inteligencia_artificial_innovando_atencion_medica_pic01_20240704_tedisel_medical.jpg' %}"
                                loading="eager"
                                alt="Artificial intelligence in medical care innovation"
                                srcset="
                                    {% static 'images/inteligencia_artificial_innovando_atencion_medica_pic01_20240704_tedisel_medical-p-500.jpg' %} 500w,
                                    {% static 'images/inteligencia_artificial_innovando_atencion_medica_pic01_20240704_tedisel_medical-p-800.jpg' %} 800w,
                                    {% static 'images/inteligencia_artificial_innovando_atencion_medica_pic01_20240704_tedisel_medical-p-1080.jpg' %} 1080w,
                                    {% static 'images/inteligencia_artificial_innovando_atencion_medica_pic01_20240704_tedisel_medical-p-1600.jpg' %} 1600w,
                                    {% static 'images/inteligencia_artificial_innovando_atencion_medica_pic01_20240704_tedisel_medical.jpg' %} 1920w
                                "
                                class="spark-square-image-card"
                            />                            
                            </a>
                            <div class="spark-card-details">
                                <p class="spark-bold-heading"><strong>Artificial Intelligence in Medicine: Today and Tomorrow</strong></p>
                                <p class="spark-small-sub-paragraph spark-margin-bottom-16px">
                                    Les technologies médicales basées sur l&#x27;IA offrent des solutions innovantes, mais font face à des résistances dues à des préoccupations éthiques et à une préparation insuffisante des professionnels.
                                    Leur validation clinique et leur intégration dans l&#x27;éducation médicale sont essentielles pour une adoption réussie.
                                </p>
                                <a href="https://www.frontiersin.org/journals/medicine/articles/10.3389/fmed.2020.00027/full" class="spark-button w-button">Voir Article</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="testimonial-slider-large">
            <div class="container-5">
                <section class="testimonial-slider-large">
                    <div class="container-5">
                        <div
                            data-delay="4000"
                            data-animation="slide"
                            class="testimonial-slider-two w-slider"
                            data-autoplay="false"
                            data-easing="ease"
                            data-hide-arrows="false"
                            data-disable-swipe="false"
                            data-autoplay-limit="0"
                            data-nav-spacing="12"
                            data-duration="500"
                            data-infinite="true"
                        >
                            <div class="w-slider-mask">
                                <div class="w-slide">
                                    <div class="testimonial-slide">
                                        <div class="testimonial-content">
                                            <img src="{% static 'images/quote-mark.svg' %}" loading="lazy" alt="" class="testimonial-quote-icon" />
                                            <div class="testimonial-quote">L’IA est la chose la plus importante qui soit arrivée dans ma carrière en médecine. Je pense qu’elle va redonner de l’humanité à la médecine</div>
                                            <div class="testimonial-info-two">
                                                <img
                                                src="{% static 'images/logo-removebg-preview_enhanced.png' %}"
                                                width="87"
                                                sizes="(max-width: 479px) 100vw, 87px"
                                                srcset="{% static 'images/logo-removebg-preview_enhanced-p-500.png' %} 500w, {% static 'images/logo-removebg-preview_enhanced-p-800.png' %} 800w, {% static 'images/logo-removebg-preview_enhanced.png' %} 822w"
                                                alt="Logo"
                                                class="logo-image"
                                            />
                                            
                                                <div>
                                                    <div class="testimonial-author-name">Dr. Eric Topol</div>
                                                    <div>Cardiologue et Expert en santé numérique</div>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="{% static 'images/eric-20topol_1.webp' %}" loading="lazy" alt="" class="testimonial-image-two" />
                                    </div>
                                </div>
                                <div class="w-slide">
                                    <div class="testimonial-slide">
                                        <div class="testimonial-content">
                                            <img src="{% static 'images/quote-mark.svg' %}" loading="lazy" alt="" class="testimonial-quote-icon" />
                                            <div class="testimonial-quote">
                                                <em>L&#x27;intelligence artificielle ne remplacera pas les radiologues, mais les radiologues qui utilisent l&#x27;intelligence artificielle remplaceront ceux qui ne le font pas.</em>
                                            </div>
                                            <div class="testimonial-info-two">
                                                <img
                                                src="{% static 'images/logo-removebg-preview_enhanced.png' %}"
                                                width="87"
                                                sizes="(max-width: 479px) 100vw, 87px"
                                                srcset="{% static 'images/logo-removebg-preview_enhanced-p-500.png' %} 500w, {% static 'images/logo-removebg-preview_enhanced-p-800.png' %} 800w, {% static 'images/logo-removebg-preview_enhanced.png' %} 822w"
                                                alt="Logo"
                                                class="logo-image"
                                            />
                                            
                                                <div>
                                                    <div class="testimonial-author-name"><strong>Dr. Keith Dreyer</strong></div>
                                                    <div>Directeur de l&#x27;IA en radiologie</div>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="{% static 'images/keith-dreyer-massachussets-general-hospital-400w-4072ppi.jpg' %}" loading="lazy" alt="" class="testimonial-image-two" />
                                    </div>
                                </div>
                                <div class="w-slide">
                                    <div class="testimonial-slide">
                                        <div class="testimonial-content">
                                            <img src="{% static 'images/quote-mark.svg' %}" loading="lazy" alt="" class="testimonial-quote-icon" />
                                            <div class="testimonial-quote">
                                                L&#x27;IA devrait être un outil pour les cliniciens, pas un remplacement. Elle peut fournir un soutien précieux, mais c&#x27;est au médecin de prendre la décision finale.
                                            </div>
                                            <div class="testimonial-info-two">
                                                <img
                                                src="{% static 'images/logo-removebg-preview_enhanced.png' %}"
                                                width="87"
                                                sizes="(max-width: 479px) 100vw, 87px"
                                                srcset="{% static 'images/logo-removebg-preview_enhanced-p-500.png' %} 500w, {% static 'images/logo-removebg-preview_enhanced-p-800.png' %} 800w, {% static 'images/logo-removebg-preview_enhanced.png' %} 822w"
                                                alt="Logo"
                                                class="logo-image"
                                            />
                                            
                                                <div>
                                                    <div class="testimonial-author-name"><strong>Dr. Michael Abramoff</strong></div>
                                                    <div>Ophtalmologue et pionnier de l&#x27;IA dans le diagnostic médical</div>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="{% static 'images/images.jpeg' %}" loading="lazy" alt="" class="testimonial-image-two" />
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-slider-arrow w-slider-arrow-left"><div class="w-icon-slider-left"></div></div>
                            <div class="testimonial-slider-arrow w-slider-arrow-right"><div class="w-icon-slider-right"></div></div>
                            <div class="testimonial-slider-nav w-slider-nav w-slider-nav-invert w-round"></div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="lynx-footer-dark">
                <div class="lynx-footer-dark">
                    <div class="w-layout-grid lynx-grid-footer-dark">
                        <div id="w-node-_12e8bc46-0782-0417-c783-e8fed647a474-2954052c" class="lynx-block-footer">
                            <img
                            src="{% static 'images/logo-removebg-preview_enhanced.png' %}"
                            loading="lazy"
                            sizes="(max-width: 479px) 100vw, 150px"
                            srcset="{% static 'images/logo-removebg-preview_enhanced-p-500.png' %} 500w, {% static 'images/logo-removebg-preview_enhanced-p-800.png' %} 800w, {% static 'images/logo-removebg-preview_enhanced.png' %} 822w"
                            alt="Logo"
                            class="lynx-logo-footer"
                        />                        
                        </div>
                        <div id="w-node-_12e8bc46-0782-0417-c783-e8fed647a476-2954052c" class="lynx-block-footer">
                            <div class="lynx-heading-footer-white">Liens Rapides</div>
                            <a href="/articles" class="lynx-link-footer-large-white">Articles</a><a href="/services" class="lynx-link-footer-large-white">Services</a>
                        </div>
                        <div id="w-node-_12e8bc46-0782-0417-c783-e8fed647a47d-2954052c" class="lynx-block-footer">
                            <div class="lynx-heading-footer-white">Informations</div>
                            <a href="/contactez-nous" class="lynx-link-footer-large-white">Contactez-nous</a>
                        </div>
                        <div id="w-node-_12e8bc46-0782-0417-c783-e8fed647a482-2954052c" class="lynx-block-footer">
                            <div class="lynx-heading-footer-white">Suivez</div>
                            <a href="#" class="lynx-link-footer-large-white">Facebook</a><a href="#" class="lynx-link-footer-large-white">Twitter</a><a href="#" class="lynx-link-footer-large-white">Instagram</a>
                        </div>
                    </div>
                    <div class="lynx-block-footer-down"><div class="lynx-text-footer-dark">Tous droits réservés</div></div>
                </div>
            </div>
        </section>
        <header class="uui-section_heroheader08">
            <div class="uui-page-padding-6"><div class="uui-container-large-6"></div></div>
        </header>
        <script src="{% static 'js/jquery.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/script.js' %}" type="text/javascript"></script>
    </body>
</html>
